# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env

# VS Code
.vscode/

# Docker
docker-compose.override.yml

# OS files
.DS_Store
Thumbs.db